@import-normalize;

:root {
  --accent-color: #BB2529;
  --bg-primary: #FFFFFF;
  --footer-bg: #232323;
  --header-bg: #BB2529;
  --socials-bg-hover: #4F4F4F;
  --socials-fill-hover: #FFFFFF;
  --socials-fill: #4F4F4F;
  --text-color-primary: #4F4F4F;
  --text-color-secondary: #232323;
  --text-color-thirdly: #FFFFFF;
  --text-color-title: #232323;
  --text-color-accent: #BB2528;
  --text-underline: #232323;
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

picture {
  width: 100%;
}

img {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
